#articles_display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#articles {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.article {
    height: 380px;
}

.article:hover .Logotest {
    filter: grayscale(0%);
}

.vertical_hr {
    background-color: black;
    width: 1px;
    border: none;
    height: 100%;
}

.content_article {
    width: calc(100% - 24px);
    height: 100%;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content_box_image_article {
    width: 100%;
    height: 180px;
    
}

.Logotest {
    width: 100%;
    height: 100%; /* Assure que le conteneur prend toute la hauteur */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Masque tout dépassement éventuel */
    padding: 0; /* Suppression de tout padding éventuel */
    margin: 0;
    object-fit: cover; /* Assure que l'image couvre tout sans distorsion */
    display: block;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.content_box_title {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    text-align: left;
    margin-top: 15px;
}

.content_box_text {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.8;
}

.link_box {
    height: 20px;
    width: 100%s;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon_box_link {
    width: 20px;
    height: 100%;
}

.text_box_link {
    margin-left: 10px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    color: black;
}