header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 30px;

}

#part1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#part3 {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hobbies {
    padding: 0px;
    height: 20px;
    white-space: nowrap;
    margin-right: 15px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

#title_GD {
    height: 0px;
    padding: 0px;
    width: 200px;
}

#title_GD {
    padding: 0px;
    margin: 0px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    white-space: nowrap;
    margin-left: 20px;
    margin-right: 20px;
}

#hr_black1 {
    background-color: black;
    height: 1px;
    border: none;
    width: 100%;
    flex: 1;
}

#hr_black2 {
    background-color: black;
    height: 1px;
    border: none;
    width: 100%;
}

#nav_link {
    white-space: nowrap;
    margin-left: 15px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.small_hr {
    background-color: black;
    height: 1px;
    border: none;
    width: 10px;
    margin: 10px;
}

.link {
    color: black;
    position: relative;
    display: inline-block;
    color: inherit; /* Pour garder la couleur de texte initiale */
    overflow: hidden; /* Nécessaire pour cacher le fond avant l'animation */
    vertical-align: top;
}
  
.link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 251, 0, 0.689) 0%, rgba(255, 251, 0, 0.689) 100%);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: -1; /* Placer le fond derrière le texte */
}
  
.link:hover::before {
    transform: translateX(0);
}

.link_header {
    font-size: 15px;
}

@media screen and (max-width: 767px) {
    #header {
        width: 100%;
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-top: 30px;
    }
    #part1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #part3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hr_black1 {
        background-color: black;
        height: 1px;
        border: none;
        width: 100%;
        min-width: 10px;
        flex: 0 0 auto;
        margin: 15px;
    }
    
    #hr_black2 {
        background-color: black;
        height: 1px;
        border: none;
        width: 100%;
        margin: 15px;
    }
}