#icon1 {
    width: auto;
    height: 100%;
}

#puzzle {
    transform-origin: 60% 25%;
    transform-origin: 204px 82px;
    animation: infiniteRotation 6s linear infinite;
}

@keyframes infiniteRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

#icon2 {
  width: auto;
  height: 100%;
}

#icon3 {
  width: auto;
  height: 100%;
}

#icon4 {
  width: auto;
  height: 100%;
}

#icon6 {
  width: 100%;
  height: 100%;
}

#icon7 {
  width: auto;
  height: 100%;
  vertical-align: middle;
}

#icon8 {
  width: auto;
  height: 100%;

}

#icon9 {
  width: auto;
  height: 100%;

}

#icon10 {
  width: auto;
  height: 80%;

}

#gear_test {
  transform-origin: 141px 75px;
  animation: infiniteRotation2 6s linear infinite;
}

#gear_test2 {
  transform-origin: 227px 100px;
  animation: infiniteRotation2 6s linear infinite;
}

@keyframes infiniteRotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#test_arrow {
  animation: shake 0.5s infinite;
  transform-origin: center;
}

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  25% { transform: translate(20px, -20px) rotate(20deg); }
  50% { transform: translate(-20px, 20px) rotate(-20deg); }
  75% { transform: translate(20px, -20px) rotate(20deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}