#intro_display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#intro {
    width: 100%;
    height: 320px;


    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 30px;

}

#hadock {
    width: 100%;
}

#element1 {
    width: 25%;
}

#element2 {
    width: 75%;
    padding: 35px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 35px;
    text-align: left;
}