#separation1_display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#separation1 {
    width: 100%;
    height: 18px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

#separation1_0 {
    background-color: black;
    height: 2px;
    border: none;
    width: 97.75%;
    position: absolute;
}

#separation2_0 {
    background-color: black;
    height: 1px;
    border: none;
    width: 97.75%;
    position: absolute;
    top: 10px;
}





#separation1_displayx {
    width: 100%;
    display: flex;
    justify-content: center;
}

#separation1x {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    height: auto;
}

#separation1_x {
    width: 100%;
    height: 2px;
    background-color: #000;
    border: none;
}

#separation2_x {
    width: 100%;
    height: 1px;
    background-color: #000;
    border: none;
}

#separation1_x {
    margin-bottom: 1px;
}